@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

body {
  background-color: #BBCBCB;
  font-family: 'Martian Mono', monospace;
  margin: 0;
  text-align: center;
}

.drum-pad-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .row{
  display: flex;
} */

.drum-pad {
  border: 2px solid black;
  padding: 2rem;
  height: 1.4rem;
  width: 1.4rem;
  gap: 0.5rem;
  margin: 0.5rem;
  background-color: #9590A8;
}

.drum-pad.active {
  background-color: #634B66;
}
